#bioBox {
    border-style: solid;
    display: inline-block;
}

.bioText {
    margin: auto;
    text-align: left;
    padding: 1.2rem;
}

#bioPic {
    float: left;
}

@media screen and (max-width: 640px) {
    #bioPic {
        float: none;
        margin: auto;
        padding-right: 1rem;
    }

    .bioText {
        padding: auto;
    }
}