#bioBox {
    display: inline-block;
}

hr {
    border: .5px solid lightgray;
}

h1 {
    text-align: left;
    margin-left: .5rem;
}

.bioText {
    margin: auto;
    text-align: left;
    padding: 1.3rem 0rem;
}

#bioPic {
    float: left;
}

.linkIcon {
    float: left;
    height: 100px;
}

#linkedInIcon {
    padding: 1.3rem;
}

#gitHubIcon {
    padding: 1.3rem 1.3rem 1.3rem 0rem;
}

@media screen and (max-width: 640px) {
    #bioBox{
        margin: auto;
        display: block;
    }
    
    #bioPic {
        float: none;
    }

    .bioText {
        padding: auto;
    }
}