#bioBox {
    display: inline-block;
}

hr {
    border: .5px solid lightgray;
}

h1 {
    text-align: left;
    margin-left: .5rem;
}

.icon {
    max-height: 124px;
}

#node {
    padding-top: 1.7rem;
}

@media screen and (max-width: 640px) {
    #node {
        padding-top: .5rem;
    }
}